<!DOCTYPE html>
<html>
  <head>
    <title>estru.me - o encurtador mais sujo da internê</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type='text/css'>
		body { margin: 0px; padding: 0px; }
		.container { margin: 0 auto; padding: 2px; border-radius: 10px; margin-top: 2px; }
		#indexrow { margin-left: 0px; margin-right: 0px; }
	</style>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42905089-1', 'estru.me');
  ga('send', 'pageview');

</script>
	</head>
  <body onload="document.shorten.url.focus();">
  <div class="navbar">
  <a class="navbar-brand" href="#">estru.me</a>
  <ul class="nav navbar-nav">
    <li class="active"><a href="http://estru.me/">Home</a></li>
    <li><a href="#">Sobre</a></li>
    <li><a href="http://github.com/jotajunior/estru.me/">Colabore (LOL)</a></li>
  </ul>
</div>
