<!DOCTYPE html>
<html>
  <head>
    <title>estru.me - o encurtador mais sujo da internê</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type='text/css'>
		body { margin: 0px; padding: 0px; }
		.container { margin: 0 auto; padding: 2px; border-radius: 10px; margin-top: 2px; }
		#indexrow { margin-left: 0px; margin-right: 0px; }
	</style>
	</head>
  <body onload="document.shorten.url.focus();">
  <div class="navbar">
  <a class="navbar-brand" href="#">estru.me</a>
  <ul class="nav navbar-nav">
    <li class="active"><a href="http://estru.me/">Home</a></li>
    <li><a href="#">Sobre</a></li>
    <li><a href="http://github.com/jotajunior/estru.me/">Colabore (LOL)</a></li>
  </ul>
</div>
